*,* {
    color: #000000
}

body, html {
    border: 0;
    outline: 0;
    margin-top: 0;
    margin: 0;
    padding: 0;
}

#Branding {
    width: 100%;
    border-style: solid;
    border-color: #E2BC8A;
    border-width: 10px;
    background-color:#E2BC8A;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-family: Lucida Handwriting, cursive;
}

/*
#Links{
    background-color: #E2BC8A;
    border-style: solid;
    border-width: 10px;
}
*/

#Portfolio { 
    width: 100%;
    border-style: solid;
    border-color: #E2BC8A;
    border-width: 10px;
    background-color: #C0DEEE;
}

#Legal {
    width: 100%;
    border-style: solid;
    border-color: #4D4D4D;
    border-width: 10px;
    background-color: #4D4D4D;
    color: #808080;
}
