/*ALL colours are in HEX*/
*,* {
    border: 0; /*sets the border to zero*/
    outline: 0; /* Sets the outline to zero*/
    margin: 0; /*Sets the margin to zero*/
    padding: 0; /*Sets the padding to zero*/
    background-color: #9CA8B7; /*Sets the background color*/
} /*Sets the desgin for the whole page/all elements unless the indival element says otherwise*/

.text {
    font-family: "pacifico", "Lucida Handwriting", "cursive"; /*Sets the font, using mutiple for fallback*/
    text-shadow: 2px 2px 5px #0B5351; /*Gives the text a shadow*/
    color: #861657; /*Sets the color*/
} /*Sets the styling for text accross the site, unless done seperatly*/

.Branding {
    border-style: solid; /*Sets the border to a solid block*/
    border-color: #E2BC8A; /*Sets the border color*/
    border-width: 10px; /*Sets the border width to 10 pixels*/
    background-color:#E2BC8A; /*Sets the background color (same as border color)*/
    text-align: center; /*Puts the text in the centre of the screen*/
    font-size: 50px; /*Sets the font size to 50 pixels*/
    text-decoration: underline; /*Underlines the text*/
    font-family: "Lucida Handwriting", "pacifico", "cursive"; /*Defines what style the text should be in, using mutiple fonts as fallbacks*/
} /*Sets the style for the top section/branding*/

#PricingImages {
    background-color: #9CA8B7; /*Sets the background color*/
    overflow: visible; /*Forces the excess to be visable*/
    height: auto; /*Allows the element to select a height*/
    max-height: none; /*Ensures there is not max height*/
} /*Sets the style for the images showing off prices*/

.PRImages {
    width: 300px; /*Sets the images width to 300 pixels*/
    height: 500px; /*Sets the images height to 500 pixels*/
}

.Dog1 {
    /*width: 300px; /*Sets the width to 300 pixels*/
    /*height: 500px; /*Sets the height to 500 pixels*/
    border-style: solid; /*Sets the border to a solid block*/
    border-color: #6684A5; /*Sets the border color*/
    border-width: 10px; /*Sets a border width of 10 pixels*/
} /*Sets style for the first dog images*/

#PricingD1 {
    border-style: solid; /*Sets the border to a solid block*/
    border-width: 10px; /*Sets a border width of 10 pixels*/
    border-color: #6684A5; /*Sets the border color*/
    font-size: 20.29px; /*Sets the font size to 20.29 pixels*/
    font-family: "pacifico", "Lucida Handwriting", "cursive"; /*Sets the font, using mutiple for fallback*/
    margin-bottom: 8.75px; /*Sets a bottom margin of 8.75 pxiels, to prevent overlap*/
} /*Sets the style for the text below the first dog images*/

.Cat1 {
    border-color: #CCCCFF; /*Sets a border color*/
    border-style: solid; /*Ensures the that the border outline is solid*/
    border-width: 10px; /*Set the border width to 10 pixels*/
    margin-top: 8.75px; /*Sets a margin of 8.75 pixels*/
} /*Does styling for the first cat images*/

#PricingC1 {
    border-style: solid; /*Sets the border style to a solid block*/
    border-width: 10px; /*Sets the border width to 10 pixels*/
    border-color: #CCCCFF; /*Sets the border color*/
    font-size: 19.29px; /*Sets the font size*/
    font-family: "pacifico", "Lucida Handwriting", "cursive"; /*Sets the font, using mutiple for fallback*/
} /*Sets the style of the Pricing text below the first cat iamges*/

#Portfolio { 
    border-style: solid; /*Sets the border to a solid block*/
    border-color: #E2BC8A; /*Sets the border color*/
    border-width: 10px; /*Sets a border width of 10 pixels*/
    background-color: #C0DEEE; /*Sets the background color*/
    margin-top: 9.1px; /*Sets the top margin to 9.1 pixels*/
} /*Sets the styling for the portfolio*/

.PortColor {
    background-color: #C0DEEE; /*Sets the background color*/
} /*Sets the color for the portolio*/

.Cat2 {
    width: 250px; /*Sets the width to 250 pixels*/
    height: 350px; /*Sets the hieght to 350 pixels*/
    border-style: dashed; /*Sets the border to a dashed line*/
    border-color: #151E3F; /*Sets the border color*/
    border-width: 10px; /*Sets a border width of 10 pixels*/
} /*Sets the styling for the second cat images*/

.Bird1 {
    width: 250px; /*Sets the width to 250 pixels*/
    height: 350px; /*Sets the hieght to 350 pixels*/
    border-style: dashed; /*Sets the border to a dashed line*/
    border-color: #151E3F; /*Sets the border color*/
    border-width: 10px; /*Sets a border width of 10 pixels*/
} /*Sets the styling for the first bird images*/

#Legal {
    border-style: solid; /*Sets a solid block for the border*/
    border-color: #4D4D4D; /*Sets the border color*/
    border-width: 10px; /*Sets the border width to 10 pixels*/
    background-color: #4D4D4D; /*Sets the background color*/
    color: #808080; /*Sets the text color*/
} /*Sets the styling for the legal section*/
