*,* {
    border: 0;
    outline: 0;
    margin-top: 0;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

#Branding {
    width: 100%;
    border-style: solid;
    border-color: #E2BC8A;
    border-width: 10px;
    background-color:#E2BC8A;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-family: "Lucida Handwriting", "pacifico", "cursive";
}

#PricingImages {
    background-color: #9CA8B7;
}

#PricingC1 {
    border-style: solid;
    border-width: 10px;
    border-color: #A54657;
    font-size: 19.2px;
    font-family: "pacifico", "Lucida Handwriting", "cursive";
}

.Cat1 {
    border-color: #A54657;
    background-color: #A54657;
    border-style: solid;
    border-width: 10px;
    width: 300px;
    height: 500px;

}

#Portfolio { 
    width: 100%;
    border-style: solid;
    border-color: #E2BC8A;
    border-width: 10px;
    background-color: #C0DEEE;
    margin-top: 8.75px;
}

.Cat2 {
    width: 400px;
    height: 600px;
    border-style: dashed;
    border-color: #151E3F;
    border-width: 10px

}

.text {
    font-family: "pacifico", "Lucida Handwriting", "cursive";
    text-shadow: 2px 2px 5px #0B5351;
    color: #861657;
}

#Legal {
    width: 100%;
    border-style: solid;
    border-color: #4D4D4D;
    border-width: 10px;
    background-color: #4D4D4D;
    color: #808080;
}
